body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: maroon;
}

input[type="text"], button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: maroon;
}

p {
    margin-top: 5px;
}
